.address-bar-container {
  text-align: center;
  margin-top: 12vh;
  margin-bottom: 5vh;
}
.address-bar {
  margin-left: 15vw;
  margin-right: 15vw;
}
.address-bar-address {
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: #2d2d2d;
  border-radius: 7px;
  border: 2px solid #2d2d2d;
}
